body {
  background-color: #14BDAC;
  font-family: monaco, monospace;
  margin: 0;
}

.board {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);   
  width: 325px;
  height: 325px; 
  margin: 20px auto;
  gap: 0;
}

.sqr {
  border: 1px solid black;
  font-size: 32px;
  text-align: center;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.parent {
  display: grid;
  grid-template-columns: 50px repeat(4, 1fr) 50px;
  grid-template-rows: 100px 1fr 100px;
  grid-row-gap: 25px;
}
